{% extends "base.html" %}
{% load static %}
{% block content %}
   <body>
        <section id="main-head" class="main-head">
          <nav class="navbar navbar-inverse">
               <div class="container-fluid">
                 <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>

                   <a href="{% url 'home' %}" ><img src="{% static 'images/Instagram-logo.png' %}"  class="navbar-brand wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s" id="logo"/></a>

                   <!-- <img src="{% static 'images/Instagram-logo.png' %}"  class="navbar-brand" id="logo"/> -->

                 </div>
                 <div class="collapse navbar-collapse" id="myNavbar">
                   <ul class="nav navbar-nav">
                     <li class="active"><a href="#">Home</a></li>
                     <li class=""><a href="#instagram-section">instagram</a></li>
                     <li><a href="#facebook-section">facebook</a></li>
                     <li><a href="#youtube-section">youtube</a></li>
                     {% if request.user.is_authenticated %}
                        <li><a href="#">{{ request.user }}</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                     {% else %}
                     <li><a href="{% url 'enter' %}">SignIn</a></li>
                     {% endif %}
                   </ul>
                 </div>
               </div>
            </nav>
            <section>
                <p id="buy" class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                  Buy Active Social Media Followers
                </p>
                <p id="free" class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".8s">
                  Get First 10 Followers free !!!!
                </p>
            </section>
            <section id="button-group">

              <a href="{% url 'premiumorder' %}" ><button type="button" class="btn btn-danger btn-lg wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s" id="buynow">Buy Followers Now</button></a>
              <a href="{% url 'freeorder' %}" ><button type="button" class="btn btn-danger btn-lg wow fadeInRight" data-wow-duration="1s" data-wow-delay=".8s" id="getfree">Get Free Followers</button></a>


            </section>
        </section>
        <section id="instagram-section">
          <div class="container">
            <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
              <p id="instagram">Get <img src="{% static 'images/instagram1.png' %}" id="instagram-pic"/>  Followers</p>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                  <ul id="free-list1">
                    <li id="free-list-li"><p id="follower-number">10 Followers</p></li>
                    <li id="free-list-li"><p id="follower-free">FREE</p></li>
                    <li id="free-list-li"><p id="follower-text">Quality Followers</p></li>
                    <li id="free-list-li"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li"><a href="{% url 'freeorder' %}" class="btn btn-info" role="button" id="get-free-now">Get Free Now</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                  <ul id="free-list2">
                    <li id="free-list-li2"><p id="follower-number">50 Followers</p></li>
                    <li id="free-list-li2"><p id="follower-free">$1.00</p></li>
                    <li id="free-list-li2"><p id="follower-text">Quality Followers</p></li>
                    <li id="free-list-li2"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li2"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li2"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li2"><a href="{% url 'premiumorder' %}" class="btn btn-info" role="button" id="get-free-now">Buy Follower</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.2s">
                  <ul id="free-list2">
                    <li id="free-list-li2"><p id="follower-number">100 Followers</p></li>
                    <li id="free-list-li2"><p id="follower-free">Coming Soon</p></li>
                    <li id="free-list-li2"><p id="follower-text">Quality Followers</p></li>
                    <li id="free-list-li2"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li2"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li2"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li2"><button type="button" class="btn btn-default btn-lg" id="get-free-now">Buy Follower </button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="facebook-section">
          <div class="container">
            <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
              <p id="facebook">Get <img src="{% static 'images/facebook.png' %}" id="facebook-pic"/>  Followers</p>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                  <ul id="free-list3">
                    <li id="free-list-li3"><p id="follower-number">10 Followers</p></li>
                    <li id="free-list-li3"><p id="follower-free">FREE</p></li>
                    <li id="free-list-li3"><p id="follower-text">Quality Followers</p></li>
                    <li id="free-list-li3"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li3"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li3"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li3"><a href="{% url 'freeorder' %}" class="btn btn-info" role="button" id="get-free-now">Get Free Now</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                  <ul id="free-list4">
                    <li id="free-list-li4"><p id="follower-number">50 Followers</p></li>
                    <li id="free-list-li4"><p id="follower-free">$1.00</p></li>
                    <li id="free-list-li4"><p id="follower-text">Quality Followers</p></li>
                    <li id="free-list-li4"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li4"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li4"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li4"><a href="{% url 'premiumorder' %}" class="btn btn-info" role="button" id="get-free-now">Buy Follower</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.2s">
                  <ul id="free-list4">
                    <li id="free-list-li4"><p id="follower-number">100 Followers</p></li>
                    <li id="free-list-li4"><p id="follower-free">Coming Soon</p></li>
                    <li id="free-list-li4"><p id="follower-text">Quality Followers</p></li>
                    <li id="free-list-li4"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li4"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li4"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li4"><button type="button" class="btn btn-default btn-lg" id="get-free-now">Buy Follower </button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="youtube-section">
          <div class="container">
            <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
              <p id="youtube">Get <img src="{% static 'images/youtube.png' %}" id="youtube-pic"/>  Subscribe</p>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                  <ul id="free-list5">
                    <li id="free-list-li5"><p id="follower-number">10 Subscribe</p></li>
                    <li id="free-list-li5"><p id="follower-free">FREE</p></li>
                    <li id="free-list-li5"><p id="follower-text">Quality Subscribe</p></li>
                    <li id="free-list-li5"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li5"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li5"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li5"><a href="{% url 'freeorder' %}" class="btn btn-info" role="button" id="get-free-now">Get Free Now</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                  <ul id="free-list6">
                    <li id="free-list-li6"><p id="follower-number">50 Subscribe</p></li>
                    <li id="free-list-li6"><p id="follower-free">$1.00</p></li>
                    <li id="free-list-li6"><p id="follower-text">Quality Subscribe</p></li>
                    <li id="free-list-li6"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li6"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li6"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li6"><a href="{% url 'premiumorder' %}" class="btn btn-info" role="button" id="get-free-now">Buy Subscribe</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.2s">
                  <ul id="free-list6">
                    <li id="free-list-li6"><p id="follower-number">100 Subscribe</p></li>
                    <li id="free-list-li6"><p id="follower-free">Coming Soon</p></li>
                    <li id="free-list-li6"><p id="follower-text">Quality Subscribe</p></li>
                    <li id="free-list-li6"><p id="follower-text">No password required</p></li>
                    <li id="free-list-li6"><p id="follower-text">Fast delivery</p></li>
                    <li id="free-list-li6"><p id="follower-text">24/7 support</p></li>
                    <li id="free-list-li6"><button type="button" class="btn btn-default btn-lg" id="get-free-now">Buy Subscribe </button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="money-back">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-2">
                   <img src="{% static 'images/money.png' %}" id="money-pic"/>
                </div>
                <div class="col-sm-8">
                   <p id="money-back-text">
                     100% Money Back Guarantee
                   </p><br />
                   <p id="money-back-para">
                     In the event that your services do not get delivered in full, you can contact us and request a refund. No questions asked.
                      We are very confident in our ability to successfully deliver your Instagram marketing services and trust you will receive
                       more than you had ordered, every time!
                   </p>
                </div>
                <div class="col-sm-2">
                  <img src="{% static 'images/paypal-logo.png' %}" id="paypal-logo"/>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
