{% load static %}
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Get Me Follower</title>
      <!-- <link rel="icon" href="imdages/instagram1.png" /> -->
      <link rel="icon" href="{% static 'imdages/instagram1.png' %}" />
      <link href="{% static 'style/style.css' %}" rel="stylesheet" >
      <link href="{% static 'style/login.css' %}" rel="stylesheet" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{% static 'js/main.js' %}"></script>
   </head>
   
   {% block content %}{% endblock %}

<section id="footer">
          <p id="footer-text">Copyright 2017 - SheikhDeveloper | All Rights Reserved  </p>
        </section>
   </body>
</html>