<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SingIn</title>
      <link rel="icon" href="images/instagram1.png" />
      <link href="style/style.css" rel="stylesheet" >
      <link href="style/login.css" rel="stylesheet" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
   </head>
   <body>
        <section id="login-head" class="main-head">
          <nav class="navbar navbar-inverse">
               <div class="container-fluid">
                 <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>
                   <img src="images/Instagram-logo.png"  class="navbar-brand" id="logo"/>
                 </div>
                 <div class="collapse navbar-collapse" id="myNavbar">
                   <ul class="nav navbar-nav">
                     <li class="active"><a href="index.html">Home</a></li>
                     <li><a href="login.html">SignIn</a></li>
                   </ul>
                 </div>
               </div>
            </nav>
        </section>
        <section id="login-from">
          <div class="login-wrap">
        	<div class="login-html">
        		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        		<div class="login-form">
        			<div class="sign-in-htm">
        				<div class="group">
        					<label for="user" class="label">Email</label>
        					<input id="email" type="email" class="input">
        				</div>
        				<div class="group">
        					<label for="pass" class="label">Password</label>
        					<input id="pass" type="password" class="input" data-type="password">
        				</div>
        				<div class="group">
        					<input id="check" type="checkbox" class="check" checked>
        					<label for="check"><span class="icon"></span> Keep me Signed in</label>
        				</div>
        				<div class="group">
        					<input type="submit" class="button" value="Sign In">
        				</div>
        				<div class="hr"></div>
        				<div class="foot-lnk">
                  <button class="loginBtn loginBtn--facebook">
                    Login with Facebook
                  </button>
        				</div>

        			</div>
        			<div class="sign-up-htm">
                <div class="group">
        					<label for="pass" class="label">Email Address</label>
        					<input id="pass" type="text" class="input">
        				</div>
        				<div class="group">
        					<label for="pass" class="label">Password</label>
        					<input id="pass" type="password" class="input" data-type="password">
        				</div>
        				<div class="group">
        					<label for="pass" class="label">Repeat Password</label>
        					<input id="pass" type="password" class="input" data-type="password">
        				</div>
        				<div class="group">
        					<input type="submit" class="button" value="Sign Up">
        				</div>
        			
        				<div class="foot-lnk">
                  <button class="loginBtn loginBtn--facebook" id="facebookbutton">
                    Singup with Facebook
                  </button>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        </section>
        <section id="footer">
          <p id="footer-text">Copyright 2017 - SheikhDeveloper | All Rights Reserved  </p>
        </section>
   </body>
</html>
